@import '../assets/base.scss';

.display_container {
  margin: 0 auto;
  border: 1px solid $sc-LGray;
  border-radius: 5px;
}

.tail_sample {
  height: 800px;
  padding: 20px;
}

.tail_full {
  object-fit: contain;
  max-height: 100%;
  margin: auto;
}
