@import '../assets/base.scss';

.options_container {
  margin: 20px 10px;
  text-align: left;

  .styles_container {
    display: inline-block;
    margin: auto;
  }

  .styles_container {
    display: inline-block;
    margin: 0 auto;
    text-align: center;

    .styles_box {
      width: 45px;
      height: 45px;
      margin: 0 4px;
      border: 1px solid $sc-DGray;
    }

    .selected {
      border: 1px solid $sc-HLBlue;
    }

    .styles_box_selected {
      border: 3px solid $sc-HLBlue;
    }

    .styles_radio {
      display: inline-block;
    }
  }
}
