@import '../assets/base.scss';

.options_container {
  margin: 20px 10px;
  text-align: left;
  position: relative;

  .styles_container {
    margin: 0 5px;

    .styles_box {
      width: 49px;
      height: 49px;
      border: 1px solid $sc-DGray;
    }

    .selected {
      border: 1px solid $sc-HLBlue;
    }

    .styles_radio {
      height: 8px;
      width: 8px;
      border: 1px solid $sc-LGray;
      border-radius: 50%;
      padding: 1px;
      margin: 5px auto 0;
    }

    .selected_radio {
      background: $sc-HLBlue;
    }
  }
  // Color Selection Button
  .color_option {
    display: inline-block;
    margin: 0 5px;

    .outer_circle {
      border-radius: 50%;
      height: 34px;
      width: 34px;
      border: 1px solid $sc-LGray;
      transition: 0.5s;

      .inner_circle {
        border-radius: 50%;
        height: 28px;
        width: 28px;
        top: 50%;
        left: 50%;
        margin: 2px;

        &:active,
        &:focus,
        &:hover {
          transition: 0.2s;
          transform: scale(1.2);
        }
      }
    }
  }

  .color_picker {
    position: absolute;
    top: -93px;
  }
}
