@import '../assets/base.scss';

.options_container {
  margin: 10px;
  font-family: 'zonoPro', "Helvetica Neue", Arial, sans-serif;

  .styles_container {
    display: inline-block;
    margin: auto;
    text-align: center;
    #plus_button{
      margin: 0 20px;
      width: 40px;
      height: 40px;
      background: white;
      line-height: 18px;
      font-size: 20px;
      outline: none;
      color: lightgray;
      &:focus, &:active, &:hover{
          color: lightgray;
      }
      &:hover, &:active{
          transform: scale(1.1);
          box-shadow: 1px -2px 0px 0px lightgray;
          border: 1px solid lightgray;
      }
      &:focus{
          border: 1px solid $sc-HLBlue;
      }
    }
  }
}
