@font-face {
  font-family: 'zonoPro';
  src: url('https://www.finfunmermaid.com/fonts/ZonaPro.woff') format('woff');
}

$sc-White : white;
$sc-LGray : lightgray;
$sc-DGray : darkgray;
$sc-HLBlue : skyblue;
