@import '../../assets/base.scss';

.sticker_picker_margin{
    margin: 10px;
}
.sticker_picker_container{
  width: 100%;
  background: $sc-White;
  position: relative;
  border-radius: 5px;
  padding: 5px 5px 0;
  box-shadow: 1px -2px 0px 0px $sc-LGray;
  border: 1px solid $sc-LGray;
  text-align: left;
}
.sticker_box{
  width: 50px;
  height: 50px;
  transition: width, height .5s;
  margin: 0 5px 5px;
  padding: 2px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border: 1px solid $sc-LGray;
  &:hover{
    transform:scale(1.1);
    border: 1px solid $sc-HLBlue;
    transition: transform .2s;
  }
  &:focus{
      border: 1px solid $sc-HLBlue;
  }
}
 .active{
    border: 1px solid $sc-HLBlue;
    transition: transform .2s;
  }
.close_box{
  width:25px;
  height: 25px;
  display: block;
  position: absolute;
  top:-10px;
  right: -10px;
  background: $sc-White;
  border-radius: 30px;
  box-shadow: 1px -2px 0px 0px $sc-LGray;
  transition: transform .1s;
  opacity: 1;
}
.close_box:hover{
  transform:scale(1.1,1.1);
  transition: transform .1s;
  opacity: 1;
}

button.close {
  opacity: 1;
  color: $sc-DGray;
  font-size: 22px;
  padding-bottom: 5px;
  transition: transform .2s;
  outline: none;
  line-height:25px;
  &:hover, &:focus {
    transition: transform .2s;
    opacity: 1;
  }
}
.popover_triangle::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    left: 24%;
    box-sizing: border-box;
    border: .7em solid black;
    border-color: transparent transparent $sc-White $sc-White;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 2px 0px 0px $sc-LGray;
}
#clear_options{
    float: right;
    margin-top: 10px;
    outline: none;
    &:hover, &:active{
        border: 1px solid $sc-HLBlue;
        background: $sc-White;
    }
    &:focus{
        background: $sc-White;
    }
}
#sticker_button{
    background: $sc-White;
    outline: none;
    &:hover, &:active{
        border: 1px solid $sc-HLBlue;
        background: $sc-White;
    }
    &:focus{
        background: $sc-White;
    }
}
