@import '/assets/base.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  margin: 0 auto 40px;
  max-width: 1200px;
  height: 80px;
  padding-bottom: 5px;
  border-bottom: 2px solid #107ca5;
}

.fin_fun_logo {
  height: 70px;
  width: 110px;
  background: #107ca5 url('https://www.finfunmermaid.com/images/custom-tails-assets/fin-fun-logo-white.svg') no-repeat no-repeat;
  background-position: center 80%;
  background-size: 90px auto;
  float: left;
}

.custom_tails_logo {
  float: right;
  height: 70px;
  width: 200px;
  background: url('https://www.finfunmermaid.com/images/custom-tails-assets/custom-tails-logo.svg') no-repeat no-repeat;
  background-position: right bottom;
  background-size: 170px auto;
}
